@{
    ViewData["Title"] = "Get All UnActivated Orders";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>Get All UnActivated Orders</h1>



<table class="table table-striped mt-4">
    <thead>
        <tr class="bg-primary text-white">
           <th>Order Number</th>
            <th>IsActive</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                   <td>@item.OrderNo</td>
                <td>@item.IsActive</td>
                <td>
                    <a asp-action="Update" asp-controller="Order" class="btn btn-warning" asp-route-Id="@item.Id">Update</a>
                    <a asp-action="GetById" asp-controller="Order" class="btn btn-secondary" asp-route-Id="@item.Id">Details</a>
                    <a asp-action="Activate" asp-controller="Order" class="btn btn-success" asp-route-Id="@item.Id">Activate</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>